* {
    margin: 0px;
    background-color: #ffda57;
}

html, body {
    height: 100%;
}

#header {
    background-color: black;
    color: white;
    padding-top: 0.5rem;
    padding-left: 1rem;
    padding-bottom: 0.5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#headerText {
    background-color: black;
}

#landingForm {
    text-align: center;
    padding: 30px;
    margin-top: 30px;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#landingText, #landingText2{
    background-color: rgba(0, 0, 0, 0.0);
    color: white;
}

#landingText {
    font-size: x-large;
    margin-bottom: 10px;
}

#landingText2 {
    margin-bottom: 10px;
}

#mainPage {
    display: none;
    grid-template-columns: 20% auto 20%;
    grid-template-rows: 50% 50%;
    height: 100vh; 
    overflow: hidden; 
}

#dayHolder {
    grid-column: 1 / 1;
    grid-row: 1 / 3;
    text-align: center;
}

#dayHolder div {
    background-color: white;
    border-radius: 15px;
}

#dayForecast, #hourForecast {
    font-size: large;
    font-weight: bold;
    margin-top: 10px;
    padding: 15px;
}

#hourForecast {
    background-color: white;
    border-radius: 15px;
}

#dayHolder > div {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 5px;
}

#dayHolder img {
    width: 25%;
    margin-bottom: 5px;
    background-color: white;
}

#weatherDetails {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#tempGraph {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#tempGraph canvas {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 15px;
    margin: 5px;
}

#hourlyForecast {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    overflow-y: auto;
    height: 100vh; 
    text-align: center;
}

#weatherDetails {
    display: grid;
    grid-template-columns: 50% 50% ;
    grid-template-rows: 20% 20% 10% 10% auto;
    background: linear-gradient(to right, darkblue, lightblue);
    margin: 10px;
    color: white;
    border-radius: 25px;
}

.hourBlock {
    background-color: white;
    margin: 5px;
    border-radius: 15px;
}

.hourBlock > div {
    background: transparent;
}

#weatherDetails > div, img {
    background: transparent;
}

#location {
    grid-column: 1 / 3;
    grid-row: 1 / 1;
    text-align: center;
    font-size: medium;
    margin-top: 10px;
}

#icon {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: block;
    margin-left: auto;
    height: 40px;
    width: auto;
}

#temp {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    font-size: xx-large;
    margin-left: 10px;
}

#Desc {
    grid-column: 1 / 3 ;
    grid-row: 3 / 4 ;
    text-align: center;
}

#TempFeel {
    grid-column: 1 / 3 ;
    grid-row: 4 / 5;
    text-align: center;
    font-size: small;
}

#Humidity, #Wind {
    text-align: center;
    font-size: small;
}

#searchGroup {
    display: none;
    justify-content: center;
    background-color: black;
}

#searchLocation {
    margin-right: 5px;
}