* {
    margin: 0px;
    background-color: #ffda57;
}

#header {
    background-color: black;
    color: white;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#headerText {
    background-color: black;
}

#landingForm {
    text-align: center;
    padding: 30px;
    margin-top: 30px;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#landingText, #landingText2{
    background-color: rgba(0, 0, 0, 0.0);
    color: white;
}

#landingText {
    font-size: x-large;
    margin-bottom: 10px;
}

#landingText2 {
    margin-bottom: 10px;
}

#mainPage {
    display: grid;
    grid-template-columns: 20% auto 20%;
    grid-template-rows: 50% 50%;
}

#dayHolder {
    grid-column: 1 / 1;
    grid-row: 1 / 3;
    background-color: #7dbac7;
}

#dayHolder > div {
    background-color: #7dbac7;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#weatherDetails {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#tempGraph {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

#hourlyForecast {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
}

#weatherDetails {
    display: grid;
    grid-template-columns: 50% 50% ;
    grid-template-rows: 20% 40% auto auto auto;
}

#location {
    grid-column: 1 / 3;
    grid-row: 1 / 1;
    text-align: center;
    font-size: x-large;
}

#icon {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    text-align: end;
}

#temp {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    font-size: xx-large;
}

#Desc {
    grid-column: 1 / 3 ;
    grid-row: 3 / 4 ;
    text-align: center;
}

#TempFeel {
    grid-column: 1 / 3 ;
    grid-row: 4 / 5;
    text-align: center;
}

#Humidity, #Wind {
    text-align: center;
}

